# Folder & file sistem yang tidak perlu dilacak
vendor/
node_modules/
.env
*.log
*.tmp
*.bak
*.zip

# Cache / sementara
storage/
.DS_Store
Thumbs.db

# Folder editor
.vscode/
.idea/

# Folder XAMPP
xampp/
htdocs/temp/